  
 <footer id="sticky-footer" class="py-4 text-dark bt b--light-silver w-100">


  <div class="container text-center ">
  
    <small >Copyright &copy; <%= link_to "Egor Kursakov", "https://", class: "text-dark"    %></small>
  </div>
  
</footer> 

